.App {
  text-align: center;
  background-image: url('https://www.shutterstock.com/image-vector/abstract-golden-light-rays-scene-600nw-2271597037.jpg');
}
/* App.css */

/* Styling global */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* App container styling */
.App {
  padding: 20px;
  text-align: center;
}

.movie-list {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
  gap: 20px !important;
  margin-top: 20px !important;
}

/* MovieCard component styling */
.movie-card {
  background-color: #fff !important;
  border-radius: 8px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important;
  overflow: hidden !important;
  transition: transform 0.2s ease-in-out !important;
}

.movie-card:hover {
  transform: translateY(-10px) !important;
}

.movie-card img {
  width: 100% !important;
  border-bottom: 2px solid #ccc !important;
}

.movie-card-content {
  padding: 15px !important;
}

.movie-card-title {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  margin-bottom: 10px !important;
}

.movie-card-description {
  font-size: 0.9rem !important;
  color: #555 !important;
  margin-bottom: 10px !important;
}

.movie-card-rating {
  font-size: 1rem !important;
  color: #ffa500 !important;
}

/* Title Filter styling */
.title-filter {
  margin-bottom: 20px !important;
}

.rating-filter {
  margin-bottom: 20px !important;
}

/* Ant Design Rating */
.ant-rate-star {
  color: #ffa500;
  background-color: #ebf2bf;
}
.rating-filter label{
  color: #ebf2bf;

}
.App h1{
  color:wheat;
}
.btn{
  background-color: antiquewhite !important;
  border-color: antiquewhite !important;
  color: rgb(82, 81, 81) !important;
}